@import url("../for-core-styles/col-sidebar.postcss") layer(base);

/* Import only. Use ITCSS: */
/* https://tacc-main.atlassian.net/wiki/x/QQhv */

@import url("./_imports/settings/color.css");

@import url("./_imports/components/taccsite_bootstrap4_tabs.structure.postcss");
@import url("./_imports/components/taccsite_bootstrap4_tabs.skin.css");
