/* ROOT: html, body */
body {
	color: var(--tacc-black);

	font-size: 1.8rem;
	line-height: 150%;
	/* letter-spacing: 0.025rem; *//* TACC/Core uses 0.025rem */

	/* TODO: Add to Core-Styles */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* To support using `cqw` unit as "100vw – scrollbar width" */
/* https://www.smashingmagazine.com/2023/12/new-css-viewport-units-not-solve-classic-scrollbar-problem/#avoiding-the-classic-scrollbar-problem */
/* TODO: Consider moving to Core-CMS */
body {
	container-type: inline-size;
}
