{% extends "base.html" %}
{% load cms_tags static is_design sekizai_tags %}

{% block assets %}
  {% is_design_legacy as is_legacy %}
  {% if is_legacy %}
    {% include 'assets_site.html' %}
  {% else %}
    {% include './assets_core.html' %} {# `./` to load local custom version #}
    {% include 'assets_core_cms.html' %}
  {% endif %}
{% endblock assets %}

{% block assets_custom %}
  {{ block.super }}

  {% is_design_legacy as is_legacy %}
  {% if is_legacy %}
  <link rel="preconnect" href="https://use.typekit.net/">
  <link rel="stylesheet" href="https://use.typekit.net/xnr7bof.css">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/legacy/site.css' %}">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/legacy/site.header.css' %}">
  {% else %}
  <link rel="preconnect" href="https://use.typekit.net/">
  <link rel="stylesheet" href="https://use.typekit.net/liq2uqc.css">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/2025/cms.css' %}">
  {% endif %}

  {# To disable "ImporterPlugin" on plugin list #}
  {# IDEA: Suggest this for TACC/Core-CMS #}
  {% addtoblock "js" %}
    <link rel="stylesheet" href="{% static 'djangocms_transfer/css/hide_plugin.css' %}">
    <script type="module" src="{% static 'djangocms_transfer/js/hide_plugin.js' %}"></script>
  {% endaddtoblock %}
{% endblock assets_custom %}

<!-- Custom Assets (Delayed). -->
{% block assets_custom_delayed %}
  {{ block.super }}

  {# To offer "Global Assets" placeholder (not "Footer-Content") for Snippets #}
  {# IDEA: Suggest this for TACC/Core-CMS #}
  {% addtoblock "css" %}
    {# To move placeholders around in Structure the panel #}
    {% comment %}
    WARNING: Does NOT load on http://...?structure standalone.

    To load on that page, add the same thing in —
    `/cms/templates/cms/toolbar/toolbar_javascript.html`
    — plus all the content from the original —
    https://github.com/django-cms/django-cms/blob/3.11.templates/cms/toolbar/toolbar_javascript.html
    — which must be copy/pasted cuz it offers no blocks.
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'cms/css/3.11.4/reorder_placeholders.css' %}">
  {% endaddtoblock %}
  {% static_placeholder "global-assets" %}
{% endblock %}
