{% extends "base.html" %}
{% load cms_tags static is_design %}

{% block assets %}
  {% is_design_legacy as is_legacy %}
  {% if is_legacy %}
    {% include 'assets_site.html' %}
  {% else %}
    {% include 'assets_core.html' %}
    {% include 'assets_core_cms.html' %}
  {% endif %}
{% endblock assets %}

{% block assets_custom %}
  {{ block.super }}

  {% is_design_legacy as is_legacy %}
  {% if is_legacy %}
  <link rel="preconnect" href="https://use.typekit.net/">
  <link rel="stylesheet" href="https://use.typekit.net/xnr7bof.css">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/legacy/site.css' %}">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/legacy/site.header.css' %}">
  {% else %}
  <link rel="preconnect" href="https://use.typekit.net/">
  <link rel="stylesheet" href="https://use.typekit.net/liq2uqc.css">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/2025/cms.css' %}">
  {% endif %}
  <style>
    @import "{% static 'texascale_cms/css/bootstrap/extensions.css' %}" layer(foundation);
  </style>
{% endblock assets_custom %}
