:root {
  --tx-blue:  #003049;    /* Prussian Blue */
  --tx-white: #FCFDF3;    /* Ivory */
  --tx-orange: #BF5700;   /* Texas Orange */
  --tx-yellow: #FCBF49;   /* Xanthous */
  --tx-beige: #EAE2B7;    /* Vanilla */
  --tx-black: #231F1E;    /* Raisin Black */
}
