:root {
  --tc-blue:  #003049;    /* Prussian Blue */
  --tc-white: #FCFDF3;    /* Ivory */
  --tc-orange: #BF5700;   /* Texas Orange */
  --tc-yellow: #FCBF49;   /* Xanthous */
  --tc-beige: #EAE2B7;    /* Vanilla */
  --tc-black: #231F1E;    /* Raisin Black */

  --tx-bkgd: var(--global-color-background--app);
}
