.logos--social {
	display: inline-grid;
	gap: 0.5rem;
	grid-auto-flow: column;
	align-items: center;
}
.logos--social svg {
	height: 1.5rem;
	display: block;
}
.logos--social .logos__text-before {
	margin-right: 1rem;
}
