{% load is_design sekizai_tags %}
{% is_design_legacy as is_legacy %}
{% if not is_legacy %}
{% addtoblock "css" %}
<style id="2025-css-background">
.texascale-background {
    color: var(--texascale-gold);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
/* So overflow (e.g. on mobile CMS nav) does not prevent click */
html:not(.cms-structure-mode-content) /* i.e. if not editing content */
.texascale-background {
    pointer-events: none;
}
/* To render siblings, that follow the background, atop it */
.texascale-background ~ * {
    position: relative;
}
</style>
{% endaddtoblock %}
{% endif %}