<div id="2025-css">

<!-- SETTINGS -->
<style data-design="2025" media="not all">
/* COLOR: Texascale */
:root {
	--texascale-gold: #D0B786;
	--texascale-bkgd: var(--global-color-background--app);
	--texascale-kepler: kepler-std, serif;
}
/* COLOR: TACC/Core v3 (early) */
:root {
	--tacc-blue:  #003049;    /* Prussian Blue */
	--tacc-white: #FCFDF3;    /* Ivory */
	--tacc-yellow: #FCBF49;   /* Xanthous */
	--tacc-orange: #BF5700;   /* Texas Orange */
	--tacc-beige: #EAE2B7;    /* Vanilla */
	--tacc-black: #231F1E;    /* Raisin Black */
}
</style>

<!-- ELEMENTS -->
<style data-design="2025" media="not all">
/* ROOT: html, body */
body {
	color: var(--tacc-black);

	font-size: 1.8rem;
	line-height: 150%;
	/* letter-spacing: 0.025rem; *//* Core uses 0.025rem */
}


/* HEADINGS:
h1 (story titles)
h2 (story subtitles)
h3 (in-story header 1st-level)
h4 (in-story header 2nd-level)
h5 (in-story header 3rd-level)
*/

/* Global */
h1, h2, h3, h4, h5, h6 {
	color: var(--tacc-black);
}
h1 {
	font-family: var(--texascale-kepler);
	font-family: "Kepler Std";
	font-size: 5.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	text-transform: unset;
}
h2 {
	font-size: 4.0rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
}
h3 {
	font-size: 3.0rem;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 1.8rem; /* body font-size */
}
h4 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 130%;
}
h5 {
	font-size: 1.8rem; /* final design */
	/* font-size: 2.0rem; *//* given design */
	font-weight: var(--bold);
	margin-bottom: 0;
}
h6 {
	font-size: 1.8rem;
	font-weight: var(--medium);
	margin-bottom: 0;
}

/* Articles */
[data-page-template*="article"]
h1, h2 {
	margin-bottom: 30px;
}
[data-page-template*="article"]
h3, h4 {
	margin-bottom: 1.8rem;
}
[data-page-template*="article"]
h4:not(:first-child) {
	margin-top: 60px;
}
</style>

<!-- COMPONENTS -->
<style data-design="2025" media="not all">
/* CORE */

.logos--social {
	display: grid;
	gap: 0.5em;
	grid-auto-flow: column;
	justify-content: end;
	align-items: center;
}
.logos--social svg {
	height: 1.5rem;
	display: block;
}
.logos--social .logos__text-before {
	margin-right: 1rem;
}



/* TEXASCALE */

.texascale-byline {
	color: var(--texascale-gold);
	text-align: center;
	font-size: 1.6rem;
	line-height: normal;
}



/* TEXASCALE / BOOTSTRAP */

/* Col Sidebar */
[data-page-template*="article"]
.col-sidebar
h4 {
	font-size: 3.0rem;
	font-family: var(--texascale-kepler);

	text-align: center;
}
[data-page-template*="article"]
.col-sidebar
h5:not(:first-child) {
	margin-top: 20px;
}
[data-page-template*="article"]
.col-sidebar
img {
	display: block; /* to force margin to collapse */
}



/* BOOTSTRAP */

/* Jumbotron */
[class*="jumbotron"] {
	background-color: var(--tacc-blue);
}
[class*="jumbotron"] :is(h1, h2, h3) {
	text-align: center;
	color: var(--tacc-white);
}
[class*="jumbotron"] .logos--social {
	color: var(--tacc-white);
	fill: var(--tacc-white);

	margin-bottom: 50px; /* design is inconsistently inconsistent, so 1 value */
}
/* Jumbotron - Image Inside */
[class*="jumbotron"]:has(img:is(.align-right, .align-left)) {
	overflow: hidden; /* to prevent image from escaping hero */
}
/* Jumbotron - No Image Inside */
[class*="jumbotron"]:not(:has(img)) h2 {
	padding-inline: 100px; /* to make hero content narrower */
}
[class*="jumbotron"]:not(:has(img)) .logos--social {
	margin-inline: 65px;
}
/* Jumbotron - Image Below */
[class*="jumbotron"]:has(+ .container > img) {
	/* to pull image up into hero */
	--image-vert-offset: 80px;
	padding-bottom: var(--image-vert-offset);
	margin-bottom: calc(-1 * var(--image-vert-offset));
}
</style>

</div>
