{% load sekizai_tags %}
{% addtoblock "css" %}
{# FAQ: `data-design="2025" media="not all"` protects Legacy pages #}
<style id="2025-css-hero" data-design="2025" media="not all">
.texascale-hero {
	background-color: var(--tacc-blue);
	overflow: hidden; /* prevent scrollbar caused by giant image */
}
.texascale-hero
:is(h1, h2, h3) {
	color: var(--tacc-white);
}
.texascale-hero
.logos--social {
	color: var(--tacc-white);
	fill: var(--tacc-white);
	gap: .5rem;
}
.texascale-hero
.logos--social svg {
    height: 2rem;
}
.texascale-hero
.logos--social .logos__text-before {
    margin-right: unset;
}

@media (width < 768px) {
	.texascale-hero h1 { font-size: 4.8rem; }
	.texascale-hero h2 { font-size: 1.6rem; }
}
</style>
{% endaddtoblock %}
