{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-breadcrumbs">
/* GLOBAL */
:root {
  --global-space--above-breadcrumbs: 20px;
  --global-space--under-breadcrumbs: 50px;
}
.texascale-breadcrumbs ol {
  font-size: var(--global-font-size--small);
  font-weight: var(--normal); /* last item becomes bold via Core-Styles */

  padding-bottom: 0.5em;
  border-bottom: 0.5px solid #FFFC;
}

/* ARTICLES */
[data-page-template*="/article"]
.texascale-breadcrumbs {
  background-color: var(--tacc-blue);
}
[data-page-template*="/article"]
.texascale-breadcrumbs :is(li, a) {
  color: #FFFC;
}
</style>
{% endaddtoblock %}
{% endif %}
