{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-tabs">
/* WRAPPER */
.tabs {
    --tab-toggle-size: 4rem;
    --tab-toggle-icon-size: auto 50%;
}


/* TAB LINKS */

/* To highlight active tab */
.nav-tabs .nav-link:not(.active) {
    opacity: 0.6;
}

/* To hide tab titles except for screen readers */
.nav-tabs .nav-link img + span {
    visibility: hidden; /* adequate cuz .nav-link aspect-ratio, square images */
}


/* TAB TOGGLE */

/* The tab links that are in the tab panes, not in `.nav-tabs` */
.tab-toggle {
    background-size: var(--tab-toggle-icon-size);
    background-color: var(--tacc-black);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-gold.svg');

    border-radius: 50%;
    width: var(--tab-toggle-size);
    height: var(--tab-toggle-size);

    display: inline-block;
    text-align: center;
    border: 3px solid var(--texascale-bkgd);
}
a.tab-toggle:hover {
    border-color: var(--tacc-black);
}
a.tab-toggle:active {
    background-color: var(--tacc-beige);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-black.svg');
}
a.tab-toggle[disabled] {
    opacity: 0.6;
}
</style>
{% endaddtoblock %}
{% endif %}
