{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-figures">
figure > img,
figure > a > img {
  margin-bottom: 20px;
}

figcaption {
  font-family: var(--texascale-kepler);
  color: var(--tacc-black);

  /* undo Core-CMS */
  font-size: inherit;
  line-height: normal;
  border-bottom: unset;
  padding-bottom: unset;
  margin-top: unset;
}
/* Bootstrap */.figure-caption {
  /* undo Core-CMS */
  border-top: unset;
  padding-top: unset;
}
</style>
{% endaddtoblock %}
{% endif %}
