<div id="2025-css">

<!-- SETTINGS -->
<style data-design="2025" media="not all">
/* COLOR: Texascale */
:root {
	--tx-gold: #D0B786;
	--tx-bkgd: var(--global-color-background--app);
	--tx-kepler: kepler-std, serif;
}
/* COLOR: TACC/Core v3 (early) */
:root {
	--tc-blue:  #003049;    /* Prussian Blue */
	--tc-white: #FCFDF3;    /* Ivory */
	--tc-yellow: #FCBF49;   /* Xanthous */
	--tc-orange: #BF5700;   /* Texas Orange */
	--tc-beige: #EAE2B7;    /* Vanilla */
	--tc-black: #231F1E;    /* Raisin Black */

	--tc-color-1: var(--tc-black);
	--tc-color-2: var(--tx-gold);
	--tc-color-3: var(--tc-blue);
}
</style>

<!-- ELEMENTS -->
<style data-design="2025" media="not all">
/* ROOT: html, body */
body {
	color: var(--tc-black);

	font-size: 1.8rem;
	line-height: 150%;
	/* letter-spacing: 0.025rem; *//* Core uses 0.025rem */
}


/* HEADINGS:
h1 (story titles)
h2 (story subtitles)
h3 (in-story header 1st-level)
h4 (in-story header 2nd-level)
h5 (in-story header 3rd-level)
*/

/* Global */
h1, h2, h3, h4, h5, h6 {
	color: var(--tc-black);
}
h1 {
	font-family: var(--tx-kepler);
}
h3 {
	font-size: 3.0rem;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 1.8rem; /* body font-size */
}
h4 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 130%;
}
h5 {
	font-size: 1.8rem; /* final design */
	/* font-size: 2.0rem; *//* given design */
	font-weight: var(--bold);
	margin-bottom: 0;
}
h6 {
	font-size: 1.8rem;
	font-weight: var(--medium);
	margin-bottom: 0;
}

/* Articles */
[data-page-template*="article"]
h3, h4 {
	margin-bottom: 1.8rem;
}
[data-page-template*="article"]
h4:not(:first-child) {
	margin-top: 60px;
}
</style>

<!-- COMPONENTS -->
<style data-design="2025" media="not all">
/* CORE (New) */
/* TODO: Add to Core-Styles */

/* Sidebar */

.col-sidebar { border: none; }

/* if full-width rules, remove border */
.col-sidebar[class*="col-12"] { border: none; }
@media (max-width: 575.98px) { .col-sidebar { border: none }}
@media (min-width: 576px) { .col-sidebar[class*="col-sm-12"] { border: none }}
@media (min-width: 768px) { .col-sidebar[class*="col-md-12"] { border: none }}
@media (min-width: 992px) { .col-sidebar[class*="col-lg-12"] { border: none }}
@media (min-width: 1200px) { .col-sidebar[class*="col-xl-12"] { border: none }}
@media (min-width: 1400px) { .col-sidebar[class*="col-xxl-12"] { border: none }}

/* if not full-width, show border only between adjacent columns */
.col-sidebar:not(:only-child):first-child {
	border-right: 1px solid var(--tc-black);
}
.col-sidebar:not(:only-child):last-child {
	border-left: 1px solid var(--tc-black);
}
.col-sidebar:not(:only-child, :first-child, :last-child) {
	border-left: 1px solid var(--tc-black);
	border-right: 1px solid var(--tc-black);
}



/* TEXASCALE */

/* Sidebar */
[data-page-template*="article"]
.col-sidebar
h4 {
	font-size: 3.0rem;
	font-family: var(--tx-kepler);

	text-align: center;
}
[data-page-template*="article"]
.col-sidebar
h5:not(:first-child) {
	margin-top: 20px;
}
[data-page-template*="article"]
.col-sidebar
img {
	display: block; /* to force margin to collapse */
}
</style>

</div>
