{% load is_design sekizai_tags %}
{% is_design_legacy as is_legacy %}
{% if not is_legacy %}
{% addtoblock "css" %}
<style id="2025-css-align">
/* For wide image at Bootstrap's narrowest breakpoint, use 576px */
/* For wide image at the next-to-narrowest breakpoint, use 768px */
/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints */
@media (min-width: 768px) {
    .align-left,
    .align-right {
        max-width: 50%;
        margin-top: 5px; /* to align with paragrph text (H.P. request) */
    }
    /* To mimic image alignment for Bootstrap Blockquote and Figure */
    .blockquote.text-left,
    .blockquote.text-right,
    .figure:has(.figure-caption.text-left),
    .figure:has(.figure-caption.text-right) {
        max-width: 50%;
    }
}

/* To mimic image alignment for Bootstrap Blockquote and Figure */
/* https://github.com/TACC/Core-Styles/blob/v2.48.1/src/lib/_imports/components/align.css */
.blockquote.text-right {
    float: right;
    margin-left: var(--global-space--grid-gap);
}
.blockquote.text-left {
    float: left;
    margin-right: var(--global-space--grid-gap);
}
.blockquote.text-center {
    margin-inline: auto;
}
@layer foundation {
    .blockquote {
        /* To override djangocms-bootstrap4 blockquote alignment */
        text-align: center !important;
    }
    .figure-caption.text-left,
    .figure-caption.text-right {
        text-align: unset !important;
    }
}
</style>
{% endaddtoblock %}
{% endif %}
