{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-tabs">
/* WRAPPER */
.tabs {
    --tab-toggle-size: 4rem;
    --tab-toggle-icon-size: auto 50%;
}

/* To show/hide content at specific breakpoint */
{% comment %}
/* FAQ: In snippet, so we can sync media query change without redeploy */
/* IDEA:
    Offer class names (like W.B. had before)
    https://github.com/TACC/Texascale-CMS/commit/8f8b093c
    `.tabs-xs`, `.tabs-sm`, `.tabs-md`, `.tabs-lg`, `.tabs-xl`
    css/2025/6_components/taccsite_bootstrap4_tabs.structure.postcss */
{% endcomment %}
@media (max-width: 991px) {
    /* To SHOW all tab content */
    .tab-content > .tab-pane {
        display: block;
    }
    /* To HIDE tab thumbnails */
    .tabs .nav-tabs,
    p:has(.tab-toggle) /* 2025 HTML */,
    .tab-toggle:not(p *) /* alt. HTML */ {
        display: none;
    }
}


/* TAB LINKS */

/* To highlight active tab */
.nav-tabs .nav-link:not(.active) {
    opacity: 0.6;
}

/* To show tab titles clearly */
.nav-tabs .nav-link img + span {
    color: var(--texascale-gold);
    background-color: var(--tacc-black);
}


/* TAB TOGGLE */

/* The tab links that are in the tab panes, not in `.nav-tabs` */
.tab-toggle {
    background-size: var(--tab-toggle-icon-size);
    background-color: var(--tacc-black);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-gold.svg');

    border-radius: 50%;
    width: var(--tab-toggle-size);
    height: var(--tab-toggle-size);

    display: inline-block;
    text-align: center;
    border: 3px solid var(--texascale-bkgd);
}
a.tab-toggle:hover {
    border-color: var(--tacc-black);
}
a.tab-toggle:active {
    background-color: var(--tacc-beige);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-black.svg');
}
a.tab-toggle[disabled] {
    opacity: 0.6;
}
</style>
{% endaddtoblock %}
{% endif %}
