{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-tabs">
/* NAV TABS */

.nav-tabs {
    gap: 20px;
    margin-bottom: 40px;
}

/* To highlight active tab */
.nav-tabs .nav-link:not(.active) {
    opacity: 0.6;
}

/* To show tab titles clearly */
.nav-tabs .nav-link img + span {
    color: var(--texascale-gold);
    background-color: var(--tacc-black);
}



/* TAB CONTENT */

.tab-pane {
    --space-above-title--layout-wide: 155px;
    --space-above-title--layout-narrow: 20px;
    --space-after-image--layout-wide: 32px;
    --space-after-image--layout-narrow: 0;
}



/* TAB TOGGLE */

/* The tab links that are in content, not in `.nav-tabs` */
.tab-toggle {
    --size: 40px;

    background-color: var(--tacc-black);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-gold.svg');

    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    display: inline-block;
    text-align: center;
    border: 3px solid var(--texascale-bkgd);
}
a.tab-toggle:hover {
    border-color: var(--tacc-black);
}
a.tab-toggle:active {
    background-color: var(--tacc-beige);
    background-image: url('/static/texascale_cms/img/tab-toggle-arrow-black.svg');
}
a.tab-toggle[disabled] {
    opacity: 0.6;
}
</style>
{% endaddtoblock %}
{% endif %}
