{% load is_design sekizai_tags %}
{% is_design_legacy as is_legacy %}
{% if not is_legacy %}
{% addtoblock "css" %}
<style id="2025-css-align">
/* FAQ: Bootstrap breakpoints: small, 576px; medium, 768px */
/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints */

/* To align left and right only on wide screen */
@media (min-width: 768px) {
    .align-left,
    .align-right {
        max-width: 50%;
        margin-top: 5px; /* to align with paragrph text (H.P. request) */
    }
    /* To match Texascale blockquotes */
    /* 2025-css-blockquotes */
    .align-left {
        margin-right: 40px;
    }
    .align-right {
        margin-left: 40px;
    }
    /* To mimic image alignment for Bootstrap Blockquote and Figure */
    .blockquote.text-left,
    .blockquote.text-right,
    .figure:has(.figure-caption.text-left),
    .figure:has(.figure-caption.text-right) {
        max-width: 50%;
    }
}
/* To undo Core-CMS align left and right always having effect */
/* TODO: Update Core-CMS if you can support many breakpoints e.g. `align-md` */
@media (max-width: 768px) {
    .align-right {
        float: unset;
        margin-left: unset;
    }
    .align-left {
        float: unset;
        margin-right: unset;
    }
    .align-center {
        margin-inline: unset;
    }
}

/* To mimic image alignment for Bootstrap Blockquote and Figure */
/* https://github.com/TACC/Core-Styles/blob/v2.48.1/src/lib/_imports/components/align.css */
@media (min-width: 768px) {
    .blockquote.text-right {
        float: right;
        margin-left: 40px;
    }
    .blockquote.text-left {
        float: left;
        margin-right: 40px;
    }
    .blockquote.text-center {
        margin-inline: auto;
    }
}
@layer foundation {
    .blockquote {
        /* To override djangocms-bootstrap4 blockquote alignment */
        text-align: center !important;
    }
    .figure-caption.text-left,
    .figure-caption.text-right {
        text-align: unset !important;
    }
}
</style>
{% endaddtoblock %}
{% endif %}
