{% load is_design sekizai_tags %}
{% is_design_year 2025 as is_2025 %}
{% if is_2025 %}
{% addtoblock "css" %}
<style id="2025-css-hero">
/* BLOCK */
.texascale-hero {
	background-color: var(--tacc-blue);
	overflow: hidden; /* prevent scrollbar caused by giant image */
}

/* HEADINGS */
.texascale-hero
:is(h1, h2, h3) {
	color: var(--tacc-white);
}
@media (width < 768px) {
	.texascale-hero h1 { font-size: 4.8rem; }
}

/* SOCIALS */
.texascale-hero
.logos--social {
	color: var(--tacc-white);
	fill: var(--tacc-white);

	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	@media (pointer: coarse) {
		gap: 1.0em;
		font-size: 3rem;
	}
	@media not (pointer: coarse) {
		gap: 0.5em;
		font-size: 2rem;
	}
}
</style>
{% endaddtoblock %}
{% endif %}
