@import url("https://cdn.jsdelivr.net/gh/TACC/Core-Styles@v2/dist/settings/color--cms.auto.css");

/* Texascale */
:root {
	--texascale-gold: #D0B786;
	--texascale-bkgd: var(--global-color-background--app);
	--texascale-glass: color(
		from var(--tacc-white) srgb r g b / 0.6
	);
}
/* TACC/Core v3 (preview) */
:root {
	--tacc-blue:  #003049;    /* Prussian Blue */
	--tacc-white: #FCFDF3;    /* Ivory */
	--tacc-yellow: #FCBF49;   /* Xanthous */
	--tacc-orange: #BF5700;   /* Texas Orange */
	--tacc-beige: #EAE2B7;    /* Vanilla */
	--tacc-black: #231F1E;    /* Raisin Black */
}
/* TACC/Core v2 (stable) */
:root {
	--header-bkgd-color: var(--tacc-black);

	/* TACC/Core-Styles (Auto-Assign) */
	--tc-color-1: #003049;
	--tc-color-2: #D0B786;
	--tc-color-3: #BF5700;
}
