/* Texascale */
:root {
	--texascale-gold: #D0B786;
	--texascale-bkgd: var(--global-color-background--app);
	--texascale-glass: color(
		from var(--tacc-white) srgb r g b / 0.6
	);
}
/* TACC/Core v3 (preview) */
:root {
	--tacc-blue:  #003049;    /* Prussian Blue */
	--tacc-white: #FCFDF3;    /* Ivory */
	--tacc-yellow: #FCBF49;   /* Xanthous */
	--tacc-orange: #BF5700;   /* Texas Orange */
	--tacc-beige: #EAE2B7;    /* Vanilla */
	--tacc-black: #231F1E;    /* Raisin Black */
}
/* TACC/Core v2 (stable) */
:root {
	--header-bkgd-color: var(--tacc-black);
}
